<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="{{ asset('css/signin.css') }}" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputUsername" class="visually-hidden">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required
               autofocus placeholder="Nom d'utilisateur">
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="w-100 btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>
</main>

</body>
</html>


