{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
<div class="row mb-3">
    <div class="col">{{ form_row(form.ref, {'label': 'Référence *'}) }}</div>
    <div class="col">{{ form_row(form.type) }}</div>
    <div class="col">{{ form_row(form.fournisseur) }}</div>
</div>
<div class="row mb-3">
    <div class="col">{{ form_row(form.seuil_alerte , {'label': 'Seuil alerte *'}) }}</div>
    <div class="col">{{ form_row(form.seuil_critique, {'label': 'Seuil critique *'}) }}</div>
    <div class="col">{{ form_row(form.prix_ht, {'label': 'Prix ht *'}) }}</div>
    <div class="col">{{ form_row(form.unite_mesure) }}</div>
</div>
<div>
    <button class="btn btn-primary">Enregistrer</button>
    <a href="{{ path('matiere_premiere_index') }}" class="btn btn-secondary">Retour</a>
</div>
{{ form_end(form) }}
