{% extends 'base.html.twig' %}

{% block title %}
    Matière première - {{ matiere_premiere.ref }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1 class="mb-5">Modifier Matière première : {{ matiere_premiere.ref }}</h1>
    </div>

    {{ include('matiere_premiere/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/articles/tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('js/articles/typehead.js') }}"></script>
    <script src="{{ asset('js/articles/main.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tagsinput.css') }}">
{% endblock %}

