{{ form_start(form) }}
    {{ form_row(form.date) }}
<div class="row">
    <div class="col-6">{{ form_row(form.quantitee, {'label': 'Quantité' }) }}</div>
    <div class="col">
        <p>Nouveau stock : <span class="new-stock"></span></p>
    </div>
    <div class="col">
        <p>Ancien stock : <span class="old-stock">{{ oldStock }}</span></p>
    </div>
</div>
{{ form_row(form.commentaire) }}
<div>
    <button class="btn btn-primary">Enregistrer</button>
    <a href="{{ path('matiere_premiere_stock_index', {id: matiere_premiere.id}) }}" class="btn btn-secondary">Retour</a>
</div>
{{ form_end(form) }}
