{% extends 'base.html.twig' %}

{% block title %}Modifier une collection{% endblock %}

{% block body %}
    <h1>Modifier la collection : {{ collectionarticle.nom }}</h1>

    {% set modifReq = false %}
    {{ include('collection_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collection_index') }}">Retourner à la liste</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/collections/updateImage.js') }}"></script>
    <script src="{{ asset('js/collections/checkbox.js') }}"></script>
{% endblock %}
