{% extends 'base.html.twig' %}

{% block title %}Les Collections{% endblock %}

{% block body %}
    <h1>Les Collections</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection_article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collection_article.nom }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ collection_article.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('collection_index') }}">Retourner à la liste</a>

    <a href="{{ path('collection_edit', {'id': collection_article.id}) }}">Modifier</a>

{% endblock %}
