{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tagsinput.css') }}">
{% endblock %}

{% block body %}
    <h1 class="mb-5">Nouvel article</h1>

    {{ include('article/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/articles/tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('js/articles/typehead.js') }}"></script>
    <script src="{{ asset('js/articles/main.js') }}"></script>
{% endblock %}
